<div class="d-flex justify-content-between align-items-center border-bottom border-info py-3">
          <div>
            <div><b>{{job['name']}}</b></div>
            {% if job['location'] %}
            <div>Location: <i>{{job['location']}}</i></div>
            {% endif %}
            {% if job['salary'] %}
            <div>Salary: <b>{{job['salary']}}</b></div>
            {% endif %}
          </div>
          <div>
            <a type="button" 
              class="btn btn-outline-primary"
              href="mailto:arv@gmail.com?subject=Application%20for%20{{job['name']}}&body=My%20name%3A%20%3Cyour%20name%20here%3E%0A%0AMy%20resume%20link%3A%20%3Cyour%20resume%20link%3E">Apply</a>
          </div>
        </div>